.homeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 375px) {
}

@media (min-width: 414px) {
  .homeContainer {
    .hero {
      .header {
        .icons-container {
          .icon {
            width: 40px;
          }
        }

        .google-container {
          width: 200px;
        }
      }
    }
  }
}

/*----------------------------------------------------------------------------------
-------------------------------------  TABLETTE ------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 599px) {
  .homeContainer {
    .hero {
      .header {
        .icons-container {
          width: 200px;
        }
      }

      .title {
        font-size: 3rem;
        line-height: 4rem;
      }
    }
  }
}

@media (min-width: 899px) {
  .homeContainer {
    .hero {
      .title {
        font-size: 3.5rem;
        line-height: 5rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .homeContainer {
    .hero {
      .header {
        .icons-container {
          width: 200px;
        }
      }

      .logo-container-mobile {
        width: 150px;
        height: 150px;

        .logo-mobile {
          width: 100%;
          height: 100%;
        }
      }

      .button {
        font-size: 1.5rem;
        padding: 1.5rem 3rem;
      }
    }
  }
}

/*----------------------------------------------------------------------------------
-------------------------------------  DESKTOP -------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 1199px) {
  .homeContainer {
    .hero {
      padding: 1.5rem;

      .header {
        align-items: flex-start;

        .logo-container {
          display: inline;
        }
      }

      .logo-container-mobile {
        display: none;
      }
    }
  }
}

@media (min-width: 1399px) {
  @media (min-width: 1199px) {
    .homeContainer {
      .hero {
        .title {
          font-size: 4rem;
          line-height: 5rem;
        }
      }
    }
  }
}

@media (min-width: 1599px) {
}

@media (min-width: 1920px) {
  .homeContainer {
    .hero {
      .title {
        font-size: 5rem;
        line-height: 7rem;
      }
    }
  }
}
