.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: $c-browm;

  .title {
    font: {
      size: 1.9rem;
      family: $f-raleway-regular;
    }
    line-height: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    color: $c-black;
    margin: 2rem 0;
  }
  .about-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-text {
      font-size: 1rem;
      line-height: 1.3rem;
    }

    .about-image {
      width: 300px;
      margin: 2rem 0;
    }
  }
}

/*----------------------------------------------------------------------------------
-------------------------------------  TABLETTE ------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 599px) {
  .about {
    padding: 2rem 1rem;

    .title {
      width: 80%;
      font-size: 2.2rem;
      line-height: 2.7rem;
    }

    .about-content {
      .about-text {
        width: 80%;
      }

      .about-image {
        width: 350px;
      }
    }
  }
}

@media (min-width: 899px) {
  .about {
    .about-content {
      .about-text {
        width: 70%;
      }
    }
  }
}

@media (min-width: 1024px) {
  .about {
    .about-content {
      width: 70%;
      flex-direction: row-reverse;
    }
  }
}

/*----------------------------------------------------------------------------------
-------------------------------------  DESKTOP -------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 1199px) {
}

@media (min-width: 1399px) {
}

@media (min-width: 1599px) {
}

@media (min-width: 1920px) {
}
