.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: {
      image: url('/assets/images/contact-bg.webp');
      position: center center;
      size: cover;
      repeat: no-repeat;
    }
    padding: 1rem 0;

    .title {
      font: {
        size: 1.9rem;
        family: $f-raleway-regular;
      }
      line-height: 2.5rem;
      text-transform: uppercase;
      text-align: center;
      color: $c-white;
      margin: 2rem 0;
    }

    .form {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .input {
        width: 100%;
        display: flex;
        flex-direction: column;
        border: none;
        margin-bottom: 1rem;
        padding: 0.5rem;
        font-family: $f-quicksand-regular;
      }

      .textarea {
        width: 100%;
        display: flex;
        flex-direction: column;
        border: none;
        min-height: 230px;
        max-height: 230px;
        overflow-y: scroll;
        outline: none;
        resize: none;
        padding: 0.5rem;
        font-family: $f-quicksand-regular;
      }

      .button {
        margin: 2rem 0;
        font: {
          size: 1.1rem;
          family: $f-raleway-medium;
        }
        color: $c-white;
        background-color: transparent;
        border: solid 1px $c-white;
        border-radius: 50px;
        padding: 1rem 2rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: $c-browm;
          border: solid 1px $c-browm;
        }
      }
    }
  }

  .map-container {
    width: 100%;

    .map {
      width: 100%;
      height: 300px;
    }
  }
}

@media (min-width: 414px) {
  .contact {
    .contact-content {
      .form {
        width: 70%;

        .input {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

/*----------------------------------------------------------------------------------
-------------------------------------  TABLETTE ------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 599px) {
  .contact {
    .contact-content {
      padding: 2rem 0;

      .title {
        width: 80%;
        font-size: 2.2rem;
        line-height: 2.7rem;
      }

      .form {
        width: 60%;
      }
    }
  }
}

@media (min-width: 899px) {
  .contact {
    .contact-content {
      .form {
        width: 50%;
      }
    }
  }
}

/*----------------------------------------------------------------------------------
-------------------------------------  DESKTOP -------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 1199px) {
  .contact {
    .contact-content {
      padding: 3rem 1rem;

      .title {
        font-size: 2.5rem;
        line-height: 3.5rem;
      }

      .form {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .input {
          font-size: 1.2rem;
          line-height: 1.7rem;
        }

        .textarea {
          font-size: 1.2rem;
          line-height: 1.7rem;
        }

        .button {
          font-size: 1.3rem;
          margin: 3rem 0;
          padding: 1.2rem 3.5rem;
        }
      }
    }

    .map-container {
      width: 100%;

      .map {
        width: 100%;
        height: 300px;
      }
    }
  }
}

@media (min-width: 1399px) {
}

@media (min-width: 1599px) {
}

@media (min-width: 1920px) {
}
