.gift {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: $c-corail;

  .title {
    font: {
      size: 1.9rem;
      family: $f-raleway-regular;
    }
    line-height: 2.5rem;
    text-align: center;
    color: $c-cream;
    margin: 2rem 0;
  }

  .gift-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .description {
      font-size: 1rem;
      line-height: 1.3rem;
      text-align: center;
      color: $c-black;
    }

    .gift-icon {
      margin: 2rem 0 0 0;
      width: 80px !important;
    }
  }

  .button {
    margin: 2rem 0;
    font: {
      size: 1.1rem;
      family: $f-raleway-medium;
    }
    color: $c-black;
    background-color: $c-cream;
    border: solid 1px $c-cream;
    border-radius: 50px;
    padding: 1rem 2rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: transparent;
      color: $c-cream;
    }
  }
}

/*----------------------------------------------------------------------------------
-------------------------------------  TABLETTE ------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 599px) {
  .gift {
    padding: 2rem 1rem;

    .title {
      width: 80%;
      font-size: 2.2rem;
      line-height: 2.7rem;
      margin: 2rem 0;
    }

    .gift-content {
      width: 80%;
      flex-direction: row;
      justify-content: space-between;

      .description {
        width: 70%;
        text-align: start;
      }

      .gift-icon {
        margin: 0;
      }
    }

    .button {
      margin: 2rem 0;
      font: {
        size: 1.1rem;
        family: $f-raleway-medium;
      }
      color: $c-black;
      background-color: $c-cream;
      border-radius: 50px;
      padding: 1rem 2rem;
      transition: all 0.3s ease-in-out;
    }
  }
}

@media (min-width: 899px) {
  .gift {
    .gift-content {
      .gift-icon {
        width: 100px !important;
      }
    }
  }
}

@media (min-width: 1024px) {
}

/*----------------------------------------------------------------------------------
-------------------------------------  DESKTOP -------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 1199px) {
}

@media (min-width: 1399px) {
}

@media (min-width: 1599px) {
}

@media (min-width: 1920px) {
}
